In [4]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\nawas\appdata\local\programs\python\python312\lib\site-packages (4.8.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\nawas\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.6.1)

In [5]:
import pymongo
import pandas as pd
import datetime as dt

In [6]:

connection_string = "mongodb+srv://ammuharshiya2104:sDYAvikAUkjxrGqU@cluster0.fx9yxi1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

client = pymongo.MongoClient(connection_string)
db = client["sample_airbnb"]  # Replace my_database with your database name
coll = db["listingsAndReviews"]  # Replace my_collection with your collection name

In [7]:
# Retrieve data from MongoDB collection
cursor = coll.find({},{"_id":1,
                        "listing_url":1,
                        "name":1,
                        "property_type":1,
                        "room_type":1,
                        "bed_type":1,
                        "minimum_nights":1,
                        "maximum_nights":1,
                        "cancellation_policy":1,
                        "accommodates":1,
                        "bedrooms":1,
                        "beds":1,
                        "number_of_reviews":1,
                        "price":1,
                        "security_deposit":1,
                        "cleaning_fee":1,
                        "extra_people":1,
                        "guests_included":1,
                        })

In [8]:
airbnb_data=[]
for i in cursor:
  airbnb_data.append(i)

In [9]:
df_airbnb= pd.DataFrame(airbnb_data)
df_airbnb

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,price,cleaning_fee,extra_people,guests_included,security_deposit
0,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,115.00,100.00,0.00,1,NaN
1,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,flexible,2,1.0,1.0,0,701.00,250.00,0.00,1,1000.00
2,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,135.00,135.00,0.00,1,0.00
3,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,House,Private room,Real Bed,2,1125,strict_14_with_grace_period,8,1.0,8.0,1,250.00,0.00,40.00,4,0.00
4,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,House,Entire home/apt,Real Bed,2,1125,flexible,6,2.0,6.0,1,527.00,211.00,211.00,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9987200,https://www.airbnb.com/rooms/9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,Real Bed,3,60,flexible,3,1.0,3.0,90,101.00,100.00,50.00,2,0.00
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6,2.0,4.0,15,220.00,315.00,0.00,1,200.00
5552,9799412,https://www.airbnb.com/rooms/9799412,Byzantium Suites Hotel,Bed and breakfast,Private room,Real Bed,1,1125,flexible,2,1.0,2.0,3,269.00,NaN,0.00,1,NaN
5553,9907103,https://www.airbnb.com/rooms/9907103,Brand New Luxury Downtown Studio,Loft,Entire home/apt,Real Bed,90,1125,moderate,2,0.0,1.0,55,97.00,50.00,0.00,1,NaN
5554,9794124,https://www.airbnb.com/rooms/9794124,Grand appart sur le Plateau,Condominium,Entire home/apt,Real Bed,1,1125,moderate,4,2.0,2.0,21,87.00,65.00,0.00,1,300.00

In [10]:
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   _id                  5555 non-null   object
 1   listing_url          5555 non-null   object
 2   name                 5555 non-null   object
 3   property_type        5555 non-null   object
 4   room_type            5555 non-null   object
 5   bed_type             5555 non-null   object
 6   minimum_nights       5555 non-null   object
 7   maximum_nights       5555 non-null   object
 8   cancellation_policy  5555 non-null   object
 9   accommodates         5555 non-null   int64
 10  bedrooms             5550 non-null   float64
 11  beds                 5542 non-null   float64
 12  number_of_reviews    5555 non-null   int64
 13  price                5555 non-null   object
 14  cleaning_fee         4024 non-null   object
 15  extra_people         5555 non-null   object
 16  guests_included      5555 non-null   object
 17  security_deposit     3471 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 781.3+ KB

In [11]:
len(df_airbnb['_id'].unique())

5555

In [12]:
duplicates = df_airbnb.duplicated(subset = '_id', keep = False)
duplicates

0       False
1       False
2       False
3       False
4       False
        ...
5550    False
5551    False
5552    False
5553    False
5554    False
Length: 5555, dtype: bool

In [13]:
# Find duplicates
duplicates = df_airbnb.duplicated(subset = '_id', keep = False)
print(duplicates.sum())
duplicates

0

0       False
1       False
2       False
3       False
4       False
        ...
5550    False
5551    False
5552    False
5553    False
5554    False
Length: 5555, dtype: bool

In [14]:
# Find duplicates
df_airbnb[duplicates].sort_values('_id')

Empty DataFrame
Columns: [_id, listing_url, name, property_type, room_type, bed_type, minimum_nights, maximum_nights, cancellation_policy, accommodates, bedrooms, beds, number_of_reviews, price, cleaning_fee, extra_people, guests_included, security_deposit]
Index: []

In [15]:
len(df_airbnb['listing_url'].unique())

5555

In [16]:
# Find duplicates
duplicates = df_airbnb.duplicated(subset = 'listing_url', keep = False)
print(duplicates.sum())
duplicates

0

0       False
1       False
2       False
3       False
4       False
        ...
5550    False
5551    False
5552    False
5553    False
5554    False
Length: 5555, dtype: bool

In [17]:
# Find duplicates
df_airbnb[duplicates].sort_values('listing_url')

Empty DataFrame
Columns: [_id, listing_url, name, property_type, room_type, bed_type, minimum_nights, maximum_nights, cancellation_policy, accommodates, bedrooms, beds, number_of_reviews, price, cleaning_fee, extra_people, guests_included, security_deposit]
Index: []

In [18]:
df_airbnb.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
price                   object
cleaning_fee            object
extra_people            object
guests_included         object
security_deposit        object
dtype: object

In [19]:
#missing values checking
df_airbnb['name'].isnull().sum()

0

In [20]:
#missing values checking
df_airbnb['property_type'].isnull().sum()

0

In [21]:
df_airbnb['property_type'].unique()

array(['Condominium', 'Apartment', 'House', 'Loft', 'Bed and breakfast',
       'Guesthouse', 'Hostel', 'Serviced apartment', 'Treehouse',
       'Bungalow', 'Guest suite', 'Townhouse', 'Villa', 'Cabin', 'Other',
       'Chalet', 'Farm stay', 'Boutique hotel', 'Boat', 'Cottage',
       'Earth house', 'Aparthotel', 'Resort', 'Tiny house',
       'Nature lodge', 'Casa particular (Cuba)', 'Hotel', 'Barn', 'Hut',
       'Camper/RV', 'Heritage hotel (India)', 'Pension (South Korea)',
       'Campsite', 'Houseboat', 'Castle', 'Train'], dtype=object)

In [22]:
# Deal with capitalized values
df_airbnb['property_type']=df_airbnb['property_type'].str.lower()
df_airbnb['property_type'].unique()

array(['condominium', 'apartment', 'house', 'loft', 'bed and breakfast',
       'guesthouse', 'hostel', 'serviced apartment', 'treehouse',
       'bungalow', 'guest suite', 'townhouse', 'villa', 'cabin', 'other',
       'chalet', 'farm stay', 'boutique hotel', 'boat', 'cottage',
       'earth house', 'aparthotel', 'resort', 'tiny house',
       'nature lodge', 'casa particular (cuba)', 'hotel', 'barn', 'hut',
       'camper/rv', 'heritage hotel (india)', 'pension (south korea)',
       'campsite', 'houseboat', 'castle', 'train'], dtype=object)

In [23]:
mappings ={'house': 'House',
            'apartment' :'Apartment',
            'condominium':'Condominium',
            'loft' :'Loft',
            'guesthouse':'Guesthouse',
            'hostel':'Hostel',
            'serviced apartment':'Serviced Apartment',
            'bed and breakfast':'Bed and Breakfast',
            'treehouse':'Treehouse',
            'bungalow':'Bungalow',
            'guest suite':'Guest Suite',
            'townhouse':'Townhouse',
            'villa':'Villa',
            'cabin':'Cabin',
            'other':'Other',
            'chalet':'Chalet',
            'farm stay':'Farm Stay',
            'boutique hotel':'Boutique Hotel',
            'boat':'Boat',
            'cottage':'Cottage',
            'earth house':'Earth House',
            'aparthotel':'Aparthotel',
            'resort':'Resort',
            'tiny house':'Tiny House',
            'nature lodge':'Nature Lodge',
            'hotel':'Hotel',
            'casa particular (cuba)':'Casa Particular',
            'barn':'Barn',
            'hut':'Hut',
            'camper/rv':'Camper/RV',
            'heritage hotel (india)':'Heritage Hotel',
            'pension (south korea)':'Pension',
            'campsite':'Campsite',
            'houseboat':'Houseboat',
            'castle':'Castle',
            'train':'Train'}

# Replace values and collapse data
df_airbnb['property_type'] = df_airbnb['property_type'].replace(mappings)
df_airbnb['property_type'].unique()

array(['Condominium', 'Apartment', 'House', 'Loft', 'Bed and Breakfast',
       'Guesthouse', 'Hostel', 'Serviced Apartment', 'Treehouse',
       'Bungalow', 'Guest Suite', 'Townhouse', 'Villa', 'Cabin', 'Other',
       'Chalet', 'Farm Stay', 'Boutique Hotel', 'Boat', 'Cottage',
       'Earth House', 'Aparthotel', 'Resort', 'Tiny House',
       'Nature Lodge', 'Casa Particular', 'Hotel', 'Barn', 'Hut',
       'Camper/RV', 'Heritage Hotel', 'Pension', 'Campsite', 'Houseboat',
       'Castle', 'Train'], dtype=object)

In [24]:
#missing values checking
df_airbnb['room_type'].isnull().sum()

0

In [25]:
df_airbnb['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

In [26]:
# Deal with capitalized values
df_airbnb['room_type']=df_airbnb['room_type'].str.lower()
df_airbnb['room_type'].unique()

array(['entire home/apt', 'private room', 'shared room'], dtype=object)

In [27]:
# Replace values to 'Shared room', 'Entire place', 'Private room' and 'Hotel room' (if applicable)
mappings = {'private room': 'Private room',
            'entire home/apt':'Entire place',
            'shared room': 'Shared room'}


# Replace values and collapse data
df_airbnb['room_type'] = df_airbnb['room_type'].replace(mappings)
df_airbnb['room_type'].unique()

array(['Entire place', 'Private room', 'Shared room'], dtype=object)

In [28]:
#missing values checking
df_airbnb['bed_type'].isnull().sum()

0

In [29]:
df_airbnb['bed_type'].unique()

array(['Real Bed', 'Futon', 'Pull-out Sofa', 'Airbed', 'Couch'],
      dtype=object)

In [30]:
#missing values checking
df_airbnb['minimum_nights'].isnull().sum()

0

In [31]:
df_airbnb['minimum_nights'].unique()

array(['3', '1', '12', '2', '4', '14', '15', '10', '7', '5', '21', '30',
       '28', '200', '32', '60', '31', '179', '6', '8', '180', '35', '13',
       '20', '160', '16', '90', '27', '45', '40', '29', '9', '96', '26',
       '25', '11', '365', '115', '100', '22', '300', '120', '80', '1250',
       '50'], dtype=object)

In [32]:
#missing values checking
df_airbnb['maximum_nights'].isnull().sum()

0

In [33]:
df_airbnb['maximum_nights'].unique()

array(['365', '1125', '360', '20', '30', '9', '75', '500', '7', '21',
       '180', '10', '120', '15', '6', '1124', '300', '90', '60', '40',
       '3', '45', '89', '28', '100', '25', '1120', '29', '2147483647',
       '1123', '32', '330', '730', '50', '179', '2', '1100', '5', '270',
       '31', '150', '1825', '600', '356', '14', '334', '92', '4', '23',
       '18', '8', '59', '80', '450', '33', '36', '5000', '22', '61', '24',
       '200', '1000', '19', '13', '99', '350', '190', '26', '12', '355',
       '160', '364', '999', '16', '1117', '900', '27', '1095', '114',
       '333333', '1109', '1126', '35', '700', '112', '181', '1234567890',
       '56', '37', '62', '548', '65', '366', '1001', '1', '17', '10000',
       '371', '1111', '11', '1003', '64', '720', '184', '140', '70', '91',
       '34', '103', '760', '1110', '41', '69', '250', '93', '1121', '185',
       '39', '130', '225', '240', '352', '85', '170', '79', '1084', '182',
       '1086', '55', '395', '1250', '2800', '305', '660', '390', '408',
       '137', '400', '224', '800'], dtype=object)

In [34]:
len(df_airbnb['cancellation_policy'].unique())

5

In [35]:
df_airbnb['cancellation_policy'].isnull().sum()

0

In [36]:
df_airbnb['cancellation_policy'].unique()

array(['strict_14_with_grace_period', 'flexible', 'moderate',
       'super_strict_30', 'super_strict_60'], dtype=object)

In [37]:
len(df_airbnb['accommodates'].unique())

16

In [38]:
df_airbnb['accommodates'].unique()

array([ 2,  8,  6,  3,  1,  5,  4,  9, 14, 11, 10,  7, 12, 16, 13, 15],
      dtype=int64)

In [39]:
#missing values checking
df_airbnb['accommodates'].isnull().sum()

0

In [40]:
len(df_airbnb['bedrooms'].unique())

14

In [41]:
df_airbnb['bedrooms'].unique()

array([ 1.,  2.,  3.,  0.,  4.,  6., nan,  5.,  9.,  7., 20., 10.,  8.,
       15.])

In [42]:
#missing values checking
df_airbnb['bedrooms'].isnull().sum()

5

In [43]:
# Fill NaN values in the 'bedrooms' column with 0
df_airbnb['bedrooms'] = df_airbnb['bedrooms'].fillna(0)

In [44]:
#missing values checking
df_airbnb['bedrooms'].isnull().sum()

0

In [45]:
df_airbnb['beds'].unique()

array([ 1.,  8.,  6.,  2.,  5.,  3.,  4., 10.,  0., nan,  7., 15.,  9.,
       14., 25., 13., 12., 18., 11., 16.])

In [46]:
#missing values checking
df_airbnb['beds'].isnull().sum()

13

In [47]:
# Fill NaN values in the 'bedrooms' column with 0
df_airbnb["beds"]= df_airbnb['beds'].fillna(0)

In [48]:
#missing values checking
df_airbnb['beds'].isnull().sum()

0

In [49]:
df_airbnb['number_of_reviews'].unique()

array([ 96,   0,  70,   1,   3,  51, 178,   5,  29,  81, 109, 123,   9,
        64,  27,  12, 239,  62,   4,  61, 162,  22,  24,   8,  32, 225,
        45, 117, 103, 145,  71,   2,  99, 135, 146,  13, 179, 104,  11,
       139,  19,  31, 126,  77,  18,  65,  10,  20, 115, 114, 132,  84,
        46, 110, 167,  17, 122,   6, 191,  34,  72,  86,  89, 184,  44,
        15, 241, 137,  60, 119, 203, 125, 199, 105, 206, 215,  21, 211,
       130, 129, 108,  43,   7,  16,  87,  57, 112,  23,  26,  35, 230,
        54, 229,  41,  38, 380,  37, 180,  36, 385,  42,  28,  25,  58,
        33,  94, 163, 207,  76, 269,  95,  75, 176,  93, 213, 217, 107,
        39, 291, 165,  14, 193,  88,  53, 212,  47,  49,  73,  90,  52,
        55, 210, 128, 133,  79, 157,  66, 188, 391, 257,  85,  83,  67,
       161, 399, 127, 231, 227, 469,  30, 181, 120,  97, 111,  69, 320,
        40, 101,  92,  48,  68,  80, 186, 221, 197, 149, 190, 106, 131,
        91,  56, 116,  78, 280, 397, 150, 124,  50,  63, 226, 121, 156,
        82, 100, 144, 152, 141, 192, 138,  59, 261, 102, 196, 219, 348,
       189, 159, 183, 171, 175,  74, 169, 151, 147, 308, 140, 379, 232,
       202, 177, 289, 143, 204, 174, 164, 113, 134, 304, 208, 259, 402,
       160, 275, 195, 249, 166, 248, 185, 270, 168, 533, 173, 255, 223,
       408, 216, 258, 420, 246, 142, 273, 265, 155, 148, 312, 236, 153,
       118, 240, 182,  98, 237, 136, 170, 154, 262, 218, 351, 463],
      dtype=int64)

In [50]:
len(df_airbnb['number_of_reviews'].unique())

259

In [51]:
#missing values checking
df_airbnb['number_of_reviews'].isnull().sum()

0

In [52]:
# Print header to make sure change was done
df_airbnb['price'].head()

0    115.00
1    701.00
2    135.00
3    250.00
4    527.00
Name: price, dtype: object

In [53]:
#checking missing values
df_airbnb['price'].isnull().sum()

0

In [54]:
#convert from decimal to float
df_airbnb["price"]= df_airbnb["price"].astype(str).astype(float)

In [55]:
# Calculate mean of price after conversion
df_airbnb['price'].mean()
df_airbnb['price'].max()

48842.0

In [56]:
df_airbnb.groupby('room_type').price.mean()

room_type
Entire place    314.859845
Private room    212.296520
Shared room     349.590361
Name: price, dtype: float64

In [57]:
# Impute price based on conditions and clearing all the null values by giving average values of price
df_airbnb.loc[(df_airbnb['price'].isna()) & (df_airbnb['room_type'] == 'Entire place'), 'price'] = 314.8
df_airbnb.loc[(df_airbnb['price'].isna()) & (df_airbnb['room_type'] == 'Private Room'), 'price'] = 212.2
df_airbnb.loc[(df_airbnb['price'].isna()) & (df_airbnb['room_type'] == 'Shared room'), 'price'] = 349.5

In [58]:
#confirm price has been imputed
df_airbnb.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  0
beds                      0
number_of_reviews         0
price                     0
cleaning_fee           1531
extra_people              0
guests_included           0
security_deposit       2084
dtype: int64

In [59]:
#missing values checking
df_airbnb['security_deposit'].isnull().sum()

2084

In [60]:
#convert from decimal to float
df_airbnb['security_deposit'] = df_airbnb['security_deposit'].astype(str).astype(float)

In [61]:
len(df_airbnb['security_deposit'].unique())

214

In [62]:
df_airbnb["security_deposit"]= df_airbnb['security_deposit'].fillna(0)

In [63]:
#missing values checking
df_airbnb['security_deposit'].isnull().sum()

0

In [64]:
df_airbnb['cleaning_fee'] = df_airbnb['cleaning_fee'].astype(str).astype(float)

In [65]:
len(df_airbnb['cleaning_fee'].unique())

292

In [66]:
# #missing values checking
df_airbnb['cleaning_fee'].isnull().sum()

1531

In [67]:
df_airbnb["cleaning_fee"]= df_airbnb['cleaning_fee'].fillna(0)

In [68]:
# #missing values checking
df_airbnb['cleaning_fee'].isnull().sum()

0

In [69]:
df_airbnb['extra_people'] = df_airbnb['extra_people'].astype(str).astype(float)

In [70]:
len(df_airbnb['extra_people'].unique())

138

In [71]:
# #missing values checking
df_airbnb['extra_people'].isnull().sum()

0

In [72]:
df_airbnb['guests_included'] = df_airbnb['guests_included'].astype(str).astype(float)

In [73]:
len(df_airbnb['guests_included'].unique())

14

In [74]:
# #missing values checking
df_airbnb['guests_included'].isnull().sum()

0

In [75]:
#confirm price has been imputed
df_airbnb.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
security_deposit       0
dtype: int64

In [76]:
df_airbnb

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,price,cleaning_fee,extra_people,guests_included,security_deposit
0,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire place,Real Bed,3,365,strict_14_with_grace_period,2,1.0,1.0,96,115.0,100.0,0.0,1.0,0.0
1,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,flexible,2,1.0,1.0,0,701.0,250.0,0.0,1.0,1000.0
2,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,135.0,135.0,0.0,1.0,0.0
3,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,House,Private room,Real Bed,2,1125,strict_14_with_grace_period,8,1.0,8.0,1,250.0,0.0,40.0,4.0,0.0
4,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,House,Entire place,Real Bed,2,1125,flexible,6,2.0,6.0,1,527.0,211.0,211.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9987200,https://www.airbnb.com/rooms/9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,Real Bed,3,60,flexible,3,1.0,3.0,90,101.0,100.0,50.0,2.0,0.0
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire place,Real Bed,3,365,strict_14_with_grace_period,6,2.0,4.0,15,220.0,315.0,0.0,1.0,200.0
5552,9799412,https://www.airbnb.com/rooms/9799412,Byzantium Suites Hotel,Bed and Breakfast,Private room,Real Bed,1,1125,flexible,2,1.0,2.0,3,269.0,0.0,0.0,1.0,0.0
5553,9907103,https://www.airbnb.com/rooms/9907103,Brand New Luxury Downtown Studio,Loft,Entire place,Real Bed,90,1125,moderate,2,0.0,1.0,55,97.0,50.0,0.0,1.0,0.0
5554,9794124,https://www.airbnb.com/rooms/9794124,Grand appart sur le Plateau,Condominium,Entire place,Real Bed,1,1125,moderate,4,2.0,2.0,21,87.0,65.0,0.0,1.0,300.0

# **amenities**

In [77]:
cursor_1 = coll.find({},{"_id":1,"amenities":1})

In [78]:
amenities= []
for j in cursor_1:
    amenities.append(j)

In [79]:
df_amenities= pd.DataFrame(amenities)
df_amenities

           _id                                          amenities
0      1001265  [TV, Cable TV, Wifi, Air conditioning, Pool, K...
1     10030955  [TV, Cable TV, Internet, Wifi, Air conditionin...
2      1003530  [Internet, Wifi, Air conditioning, Kitchen, El...
3     10051164  [TV, Cable TV, Internet, Wifi, Air conditionin...
4     10047964  [TV, Cable TV, Internet, Wifi, Kitchen, Free p...
...        ...                                                ...
5550   9987200  [TV, Cable TV, Wifi, Air conditioning, Pool, G...
5551   9993190  [TV, Wifi, Air conditioning, Pool, Kitchen, Fr...
5552   9799412  [TV, Cable TV, Internet, Wifi, Air conditionin...
5553   9907103  [TV, Cable TV, Internet, Wifi, Air conditionin...
5554   9794124  [TV, Wifi, Kitchen, Buzzer/wireless intercom, ...

[5555 rows x 2 columns]

In [80]:
#missing values checking
df_amenities['amenities'].isnull().sum()

0

In [81]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

# **host**

In [146]:
cursor_2 = coll.find({},{"_id":1,
                        "host":1})

In [147]:
host= []
for k in cursor_2:
    host.append(k)

In [148]:
df_host= pd.DataFrame(host)
df_host

           _id                                               host
0      1001265  {'host_id': '5448114', 'host_url': 'https://ww...
1     10030955  {'host_id': '51496939', 'host_url': 'https://w...
2      1003530  {'host_id': '454250', 'host_url': 'https://www...
3     10051164  {'host_id': '51326285', 'host_url': 'https://w...
4     10047964  {'host_id': '1241644', 'host_url': 'https://ww...
...        ...                                                ...
5550   9987200  {'host_id': '51314789', 'host_url': 'https://w...
5551   9993190  {'host_id': '51013381', 'host_url': 'https://w...
5552   9799412  {'host_id': '27207511', 'host_url': 'https://w...
5553   9907103  {'host_id': '35533112', 'host_url': 'https://w...
5554   9794124  {'host_id': '50474952', 'host_url': 'https://w...

[5555 rows x 2 columns]

In [198]:
host_columns= {"_id":[],"host_id":[],"host_name":[],"host_url":[],"host_location":[],
            "host_neighbourhood":[],"host_is_superhost":[],"host_response_time":[]}
for i in df_host["_id"]:
    host_columns["_id"].append(i)
for j in df_host["host"]:
    host_columns["host_id"].append(j["host_id"])
    host_columns["host_name"].append(j["host_name"])
    host_columns["host_url"].append(j["host_url"])
    host_columns["host_location"].append(j["host_location"])
    host_columns["host_neighbourhood"].append(j["host_neighbourhood"])
    host_columns["host_is_superhost"].append(j["host_is_superhost"])
    host_columns["host_response_time"].append(j.get("host_response_time"))

In [199]:
df_host_1=pd.DataFrame(host_columns)
df_host_1

,_id,host_id,host_name,host_url,host_location,host_neighbourhood,host_is_superhost,host_response_time
0,1001265,5448114,David,https://www.airbnb.com/users/show/5448114,"Honolulu, Hawaii, United States",Waikiki,False,within an hour
1,10030955,51496939,Livia,https://www.airbnb.com/users/show/51496939,BR,Lagoa,False,None
2,1003530,454250,Greta,https://www.airbnb.com/users/show/454250,"New York, New York, United States",,True,within an hour
3,10051164,51326285,Beatriz,https://www.airbnb.com/users/show/51326285,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Catete,False,within an hour
4,10047964,1241644,Zeynep,https://www.airbnb.com/users/show/1241644,"Istanbul, Istanbul, Turkey",Moda,False,None
...,...,...,...,...,...,...,...,...
5550,9987200,51314789,Dumont,https://www.airbnb.com/users/show/51314789,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Copacabana,True,within an hour
5551,9993190,51013381,Coconut Condos,https://www.airbnb.com/users/show/51013381,"Lahaina, Hawaii, United States",,False,within an hour
5552,9799412,27207511,Gokay,https://www.airbnb.com/users/show/27207511,"Istanbul, Turkey",Sultanahmet,False,within a day
5553,9907103,35533112,Benjamin,https://www.airbnb.com/users/show/35533112,"Montreal, QuÃ©bec, Canada",Downtown Montreal,False,None
5554,9794124,50474952,Guy,https://www.airbnb.com/users/show/50474952,"Montreal, QuÃ©bec, Canada",Le Plateau,False,within a few hours

In [200]:
#to replace thet empty values
df_host_1["host_neighbourhood"]= df_host_1["host_neighbourhood"].replace({'':"Not Specified"})

In [201]:
#missing values checking
df_host_1.isnull().sum()

_id                      0
host_id                  0
host_name                0
host_url                 0
host_location            0
host_neighbourhood       0
host_is_superhost        0
host_response_time    1388
dtype: int64

In [202]:
df_host_1["host_response_time"] = df_host_1["host_response_time"].fillna("0")

In [203]:
df_host_1

,_id,host_id,host_name,host_url,host_location,host_neighbourhood,host_is_superhost,host_response_time
0,1001265,5448114,David,https://www.airbnb.com/users/show/5448114,"Honolulu, Hawaii, United States",Waikiki,False,within an hour
1,10030955,51496939,Livia,https://www.airbnb.com/users/show/51496939,BR,Lagoa,False,0
2,1003530,454250,Greta,https://www.airbnb.com/users/show/454250,"New York, New York, United States",Not Specified,True,within an hour
3,10051164,51326285,Beatriz,https://www.airbnb.com/users/show/51326285,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Catete,False,within an hour
4,10047964,1241644,Zeynep,https://www.airbnb.com/users/show/1241644,"Istanbul, Istanbul, Turkey",Moda,False,0
...,...,...,...,...,...,...,...,...
5550,9987200,51314789,Dumont,https://www.airbnb.com/users/show/51314789,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Copacabana,True,within an hour
5551,9993190,51013381,Coconut Condos,https://www.airbnb.com/users/show/51013381,"Lahaina, Hawaii, United States",Not Specified,False,within an hour
5552,9799412,27207511,Gokay,https://www.airbnb.com/users/show/27207511,"Istanbul, Turkey",Sultanahmet,False,within a day
5553,9907103,35533112,Benjamin,https://www.airbnb.com/users/show/35533112,"Montreal, QuÃ©bec, Canada",Downtown Montreal,False,0
5554,9794124,50474952,Guy,https://www.airbnb.com/users/show/50474952,"Montreal, QuÃ©bec, Canada",Le Plateau,False,within a few hours

# ***images***

In [155]:
cursor_3 = coll.find({},{"_id":1,
                        "images":1})

In [156]:
images= []
for l in cursor_3:
    images.append(l)

In [157]:
df_images= pd.DataFrame(images)
df_images

           _id                                             images
0      1001265  {'thumbnail_url': '', 'medium_url': '', 'pictu...
1     10030955  {'thumbnail_url': '', 'medium_url': '', 'pictu...
2      1003530  {'thumbnail_url': '', 'medium_url': '', 'pictu...
3     10051164  {'thumbnail_url': '', 'medium_url': '', 'pictu...
4     10047964  {'thumbnail_url': '', 'medium_url': '', 'pictu...
...        ...                                                ...
5550   9987200  {'thumbnail_url': '', 'medium_url': '', 'pictu...
5551   9993190  {'thumbnail_url': '', 'medium_url': '', 'pictu...
5552   9799412  {'thumbnail_url': '', 'medium_url': '', 'pictu...
5553   9907103  {'thumbnail_url': '', 'medium_url': '', 'pictu...
5554   9794124  {'thumbnail_url': '', 'medium_url': '', 'pictu...

[5555 rows x 2 columns]

In [158]:
images_clm = {"_id":[],"picture_url":[]}
for i in df_images["_id"]:
    images_clm["_id"].append(i)
for j in df_images["images"]:
    images_clm["picture_url"].append(j["picture_url"])

In [159]:
df_images_1=pd.DataFrame(images_clm)
df_images_1

           _id                                        picture_url
0      1001265  https://a0.muscache.com/im/pictures/15037101/5...
1     10030955  https://a0.muscache.com/im/pictures/59c516bd-c...
2      1003530  https://a0.muscache.com/im/pictures/15074036/a...
3     10051164  https://a0.muscache.com/im/pictures/b2119f25-4...
4     10047964  https://a0.muscache.com/im/pictures/231120b6-e...
...        ...                                                ...
5550   9987200  https://a0.muscache.com/im/pictures/4a2a03e4-d...
5551   9993190  https://a0.muscache.com/im/pictures/be1978c5-6...
5552   9799412  https://a0.muscache.com/im/pictures/25c8c363-a...
5553   9907103  https://a0.muscache.com/im/pictures/522911cf-8...
5554   9794124  https://a0.muscache.com/im/pictures/a5caea46-9...

[5555 rows x 2 columns]

In [160]:
#missing values checking
df_images_1.isnull().sum()

_id            0
picture_url    0
dtype: int64

# **address**

In [161]:
cursor_4 = coll.find({},{"_id":1,
                        "address":1})

In [162]:
address= []
for m in cursor_4:
    address.append(m)

In [163]:
df_address= pd.DataFrame(address)
df_address

           _id                                            address
0      1001265  {'street': 'Honolulu, HI, United States', 'sub...
1     10030955  {'street': 'Rio de Janeiro, Rio de Janeiro, Br...
2      1003530  {'street': 'New York, NY, United States', 'sub...
3     10051164  {'street': 'Rio de Janeiro, Rio de Janeiro, Br...
4     10047964  {'street': 'KadÄ±kÃ¶y, Ä°stanbul, Turkey', 'subur...
...        ...                                                ...
5550   9987200  {'street': 'Rio de Janeiro, Rio de Janeiro, Br...
5551   9993190  {'street': 'Lahaina, HI, United States', 'subu...
5552   9799412  {'street': 'Fatih, Ä°stanbul, Turkey', 'suburb'...
5553   9907103  {'street': 'MontrÃ©al, QuÃ©bec, Canada', 'suburb...
5554   9794124  {'street': 'MontrÃ©al, QuÃ©bec, Canada', 'suburb...

[5555 rows x 2 columns]

In [164]:
address_clm = {"_id":[],"street":[],"country":[],
                    "country_code":[], "location":[], "longitude":[], "latitude":[],
                    "is_location_exact":[]}

for i in df_address["_id"]:
    address_clm["_id"].append(i)

for j in df_address["address"]:
    address_clm["street"].append(j["street"])
    address_clm["country"].append(j["country"])
    address_clm["country_code"].append(j["country_code"])
    address_clm["location"].append(j["location"]["type"])
    address_clm["latitude"].append(j["location"]["coordinates"][0])
    address_clm["longitude"].append(j["location"]["coordinates"][1])
    address_clm["is_location_exact"].append(j["location"]["is_location_exact"])

In [165]:
df_address_1=pd.DataFrame(address_clm )
df_address_1

,_id,street,country,country_code,location,longitude,latitude,is_location_exact
0,1001265,"Honolulu, HI, United States",United States,US,Point,21.286340,-157.839190,True
1,10030955,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-22.971951,-43.205047,True
2,1003530,"New York, NY, United States",United States,US,Point,40.799620,-73.965230,False
3,10051164,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-22.926382,-43.180157,True
4,10047964,"KadÄ±kÃ¶y, Ä°stanbul, Turkey",Turkey,TR,Point,40.985850,29.031330,True
...,...,...,...,...,...,...,...,...
5550,9987200,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-22.961076,-43.176533,True
5551,9993190,"Lahaina, HI, United States",United States,US,Point,20.858940,-156.667520,False
5552,9799412,"Fatih, Ä°stanbul, Turkey",Turkey,TR,Point,41.006000,28.979890,False
5553,9907103,"MontrÃ©al, QuÃ©bec, Canada",Canada,CA,Point,45.496630,-73.576390,True
5554,9794124,"MontrÃ©al, QuÃ©bec, Canada",Canada,CA,Point,45.531500,-73.564400,True

In [166]:
#missing values checking
df_address_1.isnull().sum()

_id                  0
street               0
country              0
country_code         0
location             0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [167]:
df_address_1.dtypes

_id                   object
street                object
country               object
country_code          object
location              object
longitude            float64
latitude             float64
is_location_exact       bool
dtype: object

In [168]:
df_address_1["is_location_exact"]= df_address_1["is_location_exact"].map({False:"No", True:"Yes"})

In [169]:
df_address_1

,_id,street,country,country_code,location,longitude,latitude,is_location_exact
0,1001265,"Honolulu, HI, United States",United States,US,Point,21.286340,-157.839190,Yes
1,10030955,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-22.971951,-43.205047,Yes
2,1003530,"New York, NY, United States",United States,US,Point,40.799620,-73.965230,No
3,10051164,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-22.926382,-43.180157,Yes
4,10047964,"KadÄ±kÃ¶y, Ä°stanbul, Turkey",Turkey,TR,Point,40.985850,29.031330,Yes
...,...,...,...,...,...,...,...,...
5550,9987200,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,-22.961076,-43.176533,Yes
5551,9993190,"Lahaina, HI, United States",United States,US,Point,20.858940,-156.667520,No
5552,9799412,"Fatih, Ä°stanbul, Turkey",Turkey,TR,Point,41.006000,28.979890,No
5553,9907103,"MontrÃ©al, QuÃ©bec, Canada",Canada,CA,Point,45.496630,-73.576390,Yes
5554,9794124,"MontrÃ©al, QuÃ©bec, Canada",Canada,CA,Point,45.531500,-73.564400,Yes

## **availability**

In [170]:
cursor_4 = coll.find({},{"_id":1,
                        "availability":1})

In [171]:
availability= []
for m in cursor_4:
    availability.append(m)

In [172]:
df_availability= pd.DataFrame(availability)
df_availability

           _id                                       availability
0      1001265  {'availability_30': 16, 'availability_60': 46,...
1     10030955  {'availability_30': 28, 'availability_60': 58,...
2      1003530  {'availability_30': 0, 'availability_60': 0, '...
3     10051164  {'availability_30': 10, 'availability_60': 10,...
4     10047964  {'availability_30': 27, 'availability_60': 57,...
...        ...                                                ...
5550   9987200  {'availability_30': 7, 'availability_60': 29, ...
5551   9993190  {'availability_30': 0, 'availability_60': 8, '...
5552   9799412  {'availability_30': 30, 'availability_60': 60,...
5553   9907103  {'availability_30': 29, 'availability_60': 59,...
5554   9794124  {'availability_30': 0, 'availability_60': 4, '...

[5555 rows x 2 columns]

In [173]:
availability_clm = {"_id":[],
                    "availability_30":[],
                    "availability_60":[],
                    "availability_90":[],
                    "availability_365":[]}

for i in df_availability["_id"]:
    availability_clm["_id"].append(i)

for j in df_availability["availability"]:
    availability_clm["availability_30"].append(j["availability_30"])
    availability_clm["availability_60"].append(j["availability_60"])
    availability_clm["availability_90"].append(j["availability_90"])
    availability_clm["availability_365"].append(j["availability_365"])

In [174]:
df_availability_1=pd.DataFrame(availability_clm)
df_availability_1

,_id,availability_30,availability_60,availability_90,availability_365
0,1001265,16,46,76,343
1,10030955,28,58,88,363
2,1003530,0,0,0,93
3,10051164,10,10,21,296
4,10047964,27,57,87,362
...,...,...,...,...,...
5550,9987200,7,29,53,53
5551,9993190,0,8,31,258
5552,9799412,30,60,90,365
5553,9907103,29,59,89,89
5554,9794124,0,4,7,76

In [175]:
#missing values checking
df_availability_1.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [176]:
df_availability_1.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [177]:
s = df_availability_1[df_availability_1['availability_365']> 365]
s

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

In [178]:
#checking negative values in availability_365
t = df_availability_1[df_availability_1['availability_365']< 0]
t

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

In [179]:
s = df_availability_1[df_availability_1['availability_30']> 365]
s

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

In [180]:
#checking negative values in availability_365
t = df_availability_1[df_availability_1['availability_30']< 0]
t

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

In [181]:
s = df_availability_1[df_availability_1['availability_60']> 365]
s

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

In [182]:
#checking negative values in availability_365
t = df_availability_1[df_availability_1['availability_60']< 0]
t

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

In [183]:
s = df_availability_1[df_availability_1['availability_90']> 365]
s

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

In [184]:
#checking negative values in availability_365
t = df_availability_1[df_availability_1['availability_90']< 0]
t

Empty DataFrame
Columns: [_id, availability_30, availability_60, availability_90, availability_365]
Index: []

# **review score**

In [185]:
cursor_5 = coll.find({},{"_id":1,
                        "review_scores":1})

In [186]:
review_scores= []
for n in cursor_5:
    review_scores.append(n)

In [187]:
df_review_scores= pd.DataFrame(review_scores)
df_review_scores

           _id                                      review_scores
0      1001265  {'review_scores_accuracy': 9, 'review_scores_c...
1     10030955                                                 {}
2      1003530  {'review_scores_accuracy': 10, 'review_scores_...
3     10051164  {'review_scores_accuracy': 10, 'review_scores_...
4     10047964  {'review_scores_accuracy': 10, 'review_scores_...
...        ...                                                ...
5550   9987200  {'review_scores_accuracy': 10, 'review_scores_...
5551   9993190  {'review_scores_accuracy': 10, 'review_scores_...
5552   9799412  {'review_scores_accuracy': 10, 'review_scores_...
5553   9907103  {'review_scores_accuracy': 10, 'review_scores_...
5554   9794124  {'review_scores_accuracy': 10, 'review_scores_...

[5555 rows x 2 columns]

In [188]:
review_scores_clm = {"_id":[],
                    "review_scores_accuracy":[],
                    "review_scores_rating":[]}

for i in df_review_scores["_id"]:
    review_scores_clm["_id"].append(i)

for j in df_review_scores["review_scores"]:
    review_scores_clm["review_scores_accuracy"].append(j.get("review_scores_accuracy"))
    review_scores_clm["review_scores_rating"].append(j.get("review_scores_rating"))

In [189]:
df_review_scores_1=pd.DataFrame(review_scores_clm)
df_review_scores_1

           _id  review_scores_accuracy  review_scores_rating
0      1001265                     9.0                  84.0
1     10030955                     NaN                   NaN
2      1003530                    10.0                  94.0
3     10051164                    10.0                  80.0
4     10047964                    10.0                 100.0
...        ...                     ...                   ...
5550   9987200                    10.0                  97.0
5551   9993190                    10.0                  92.0
5552   9799412                    10.0                 100.0
5553   9907103                    10.0                  99.0
5554   9794124                    10.0                  91.0

[5555 rows x 3 columns]

In [190]:
#missing values checking
df_review_scores_1.isnull().sum()

_id                          0
review_scores_accuracy    1476
review_scores_rating      1474
dtype: int64

In [191]:
df_review_scores_1["review_scores_accuracy"]= df_review_scores_1['review_scores_accuracy'].fillna(0)

In [192]:
df_review_scores_1["review_scores_rating"]= df_review_scores_1['review_scores_rating'].fillna(0)

In [193]:
#missing values checking
df_review_scores_1.isnull().sum()

_id                       0
review_scores_accuracy    0
review_scores_rating      0
dtype: int64

# **merge all tables **

In [204]:
df= pd.merge(df_airbnb,df_host_1, on="_id")
df= pd.merge(df, df_amenities, on="_id")
df= pd.merge(df, df_images_1, on="_id")
df= pd.merge(df, df_address_1, on="_id")
df= pd.merge(df, df_availability_1, on="_id")
df= pd.merge(df, df_review_scores_1, on="_id")

In [205]:
# save the file
df.to_csv("Airbnb.csv",index=False)

In [206]:
df= pd.read_csv("C:/Users/nawas/Desktop/project 3/Airbnb.csv")
df.sort_values(ignore_index=True)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,location,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,review_scores_accuracy,review_scores_rating
0,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire place,Real Bed,3,365,strict_14_with_grace_period,2,...,Point,21.286340,-157.839190,Yes,16,46,76,343,9.0,84.0
1,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,flexible,2,...,Point,-22.971951,-43.205047,Yes,28,58,88,363,0.0,0.0
2,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,...,Point,40.799620,-73.965230,No,0,0,0,93,10.0,94.0
3,10051164,https://www.airbnb.com/rooms/10051164,Catete's Colonial Big Hause Room B,House,Private room,Real Bed,2,1125,strict_14_with_grace_period,8,...,Point,-22.926382,-43.180157,Yes,10,10,21,296,10.0,80.0
4,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,House,Entire place,Real Bed,2,1125,flexible,6,...,Point,40.985850,29.031330,Yes,27,57,87,362,10.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9987200,https://www.airbnb.com/rooms/9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,Real Bed,3,60,flexible,3,...,Point,-22.961076,-43.176533,Yes,7,29,53,53,10.0,97.0
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire place,Real Bed,3,365,strict_14_with_grace_period,6,...,Point,20.858940,-156.667520,No,0,8,31,258,10.0,92.0
5552,9799412,https://www.airbnb.com/rooms/9799412,Byzantium Suites Hotel,Bed and Breakfast,Private room,Real Bed,1,1125,flexible,2,...,Point,41.006000,28.979890,No,30,60,90,365,10.0,100.0
5553,9907103,https://www.airbnb.com/rooms/9907103,Brand New Luxury Downtown Studio,Loft,Entire place,Real Bed,90,1125,moderate,2,...,Point,45.496630,-73.576390,Yes,29,59,89,89,10.0,99.0
5554,9794124,https://www.airbnb.com/rooms/9794124,Grand appart sur le Plateau,Condominium,Entire place,Real Bed,1,1125,moderate,4,...,Point,45.531500,-73.564400,Yes,0,4,7,76,10.0,91.0

In [207]:
df.isnull().sum()

_id                       0
listing_url               0
name                      8
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  0
beds                      0
number_of_reviews         0
price                     0
cleaning_fee              0
extra_people              0
guests_included           0
security_deposit          0
host_id                   0
host_name                 0
host_url                  0
host_location             8
host_neighbourhood        0
host_is_superhost         0
host_response_time        0
amenities                 0
picture_url               0
street                    0
country                   0
country_code              0
location                  0
longitude                 0
latitude                  0
is_location_exact         0
availability_30           0
availability_60           0
availability_90           0
availability_365          0
review_scores_accuracy    0
review_scores_rating      0
dtype: int64